/* Add your block style here */
.wixui-rich-text__text {
    --color_0: 255,255,255;
    --color_44: 255,255,255;
    --color_22: 255,214,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_23: 255,173,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 242,240,240;
    --color_13: 199,199,199;
    --color_14: 117,117,117;
    --color_15: 0,0,0;
    --color_16: 175,172,251;
    --color_17: 135,130,246;
    --color_18: 23,13,242;
    --color_24: 128,87,128;
    --color_19: 15,9,161;
    --color_20: 8,4,81;
    --color_25: 64,43,64;
    --color_26: 254,242,174;
    --color_27: 254,235,133;
    --color_28: 253,216,13;
    --color_29: 169,144,9;
    --color_30: 199,169,0;
    --color_31: 254,196,178;
    --color_32: 253,166,140;
    --color_33: 252,78,26;
    --color_34: 168,52,17;
    --color_35: 84,26,9;
    --color_36: 255,255,255;
    --color_37: 0,0,0;
    --color_38: 242,240,240;
    --color_39: 199,199,199;
    --color_40: 117,117,117;
    --font_0: normal normal normal 30px/1.4em avenir-lt-w01_85-heavy1475544,avenir-lt-w05_85-heavy,sans-serif;
    --color_41: 23,13,242;
    --color_45: 0,0,0;
    --color_46: 0,0,0;
    --color_47: 242,240,240;
    --color_48: 23,13,242;
    --color_49: 23,13,242;
    --color_50: 255,255,255;
    --color_51: 255,255,255;
    --color_52: 23,13,242;
    --color_53: 23,13,242;
    --color_54: 199,199,199;
    --color_55: 199,199,199;
    --color_56: 255,255,255;
    --color_57: 255,255,255;
    --color_58: 23,13,242;
    --color_42: 0,0,0;
    --color_59: 255,255,255;
    --color_60: 23,13,242;
    --color_61: 23,13,242;
    --color_62: 255,255,255;
    --color_63: 255,255,255;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 50px/1.4em syne,sans-serif;
    --font_3: normal normal normal 70px/1.4em syne,sans-serif;
    --font_4: normal normal normal 50px/1.4em syne,sans-serif;
    --font_5: normal normal normal 30px/1.4em syne,sans-serif;
    --font_6: normal normal normal 25px/1.4em syne,sans-serif;
    --font_7: normal normal normal 18px/1.4em questrial,sans-serif;
    --color_64: 199,199,199;
    --color_21: 255,235,255;
    --font_8: normal normal normal 15px/1.4em questrial,sans-serif;
    --font_9: normal normal normal 12px/1.4em questrial,sans-serif;
    --font_10: normal normal normal 10px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 0px;
    --wix-ads-top-height: 0px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    --minViewportSize: 320;
    --color_65: 199,199,199;
    --color_43: 199,199,199;
    --maxViewportSize: 1920;
    --pinned-layers-in-page: 0;
    --pinned-layer-in-container: 52;
    --above-all-in-container: 49;
    --transition-duration: 600ms;
    overflow-wrap: break-word;
    text-align: start;
    pointer-events: auto;
    font: var(--font_2);
    line-height: normal;
    color: #324158;
    letter-spacing: 0.2em;
    font-size: 20px;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: avenir-lt-w01_85-heavy1475544,sans-serif;
}
